# maven
target/

# netbeans
nb-configuration.xml
nbproject/

# eclipse
.classpath
.project
.settings/

# vs code
.classpath
.project
.settings/
.vscode/
.factorypath

# specific files
.flattened-pom.xml
